[user]
    email = mariusmillea@gmail.com
	name = Marius Millea
[push]
    default = matching
[alias]
    st = status
    co = checkout
    lg = !"git log --branches --remotes --tags --graph --oneline --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'"
[credential]
    helper = store
[diff]
    tool = meld
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[alias]
[url "https://"]
    insteadOf = git://
[core]
    editor = vim
    autocrlf = false
	excludesFile = /Users/marius/.gitignore
[difftool]
    prompt = false
[mergetool]
    prompt = false
[diff "jupyternotebook"]
    command = git-nbdiffdriver diff
[merge "jupyternotebook"]
    driver = git-nbmergedriver merge %O %A %B %L %P
    name = jupyter notebook merge driver
[difftool "nbdime"]
    cmd = git-nbdifftool diff \"$LOCAL\" \"$REMOTE\" \"$BASE\"
[mergetool "nbdime"]
    cmd = git-nbmergetool merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[status]
	submodulesummary = 1
[init]
	defaultBranch = main
[commit]
	template = /home/marius/.gitmessage
