"*":
  "atom-ide-ui":
    "atom-ide-debugger":
      showDebuggerOnBpSet: false
    hyperclick:
      linuxTriggerKeys: "shiftKey,ctrlKey"
  "atom-updater-linux":
    packageType: "deb"
  "autocomplete-plus": {}
  core:
    colorProfile: "srgb"
    disabledPackages: [
      "language-gfm"
      "markdown-preview"
      "symbol-gen"
      "remote-edit"
      "wrap-guide"
      "markdown-preview-plus"
      "hydrogen-launcher"
      "sorter"
      "remote-ftp"
      "pdf-view"
      "linter"
      "python-isort"
      "atom-isort"
    ]
    excludeVcsIgnoredPaths: false
    packagesWithKeymapsDisabled: [
      "ftp-remote-edit"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dork-ui"
      "one-dork-syntax"
    ]
    useTreeSitterParsers: false
  editor:
    fontFamily: "DejaVu Sans Mono"
    fontSize: 15
    scrollPastEnd: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "b19fa6c8-3276-467a-aec7-b01920971825"
  "file-types":
    "^Dockerfile.*$": "source.dockerfile"
  fonts:
    fontFamily: "DejaVu Mono"
  "julia-client":
    consoleOptions:
      whitelistedKeybindingsREPL: [
        "Ctrl-J"
        "Ctrl-K"
        "Ctrl-E"
        "Ctrl-V"
        "Ctrl-M"
        "Ctrl-PageUp"
        "Ctrl-PageDown"
        "Ctrl+P"
        "Ctrl+T"
        "Alt+Up"
      ]
      whitelistedKeybindingsTerminal: [
        "Ctrl-J"
        "Ctrl-K"
        "Ctrl-E"
        "Ctrl-V"
        "Ctrl-M"
        "Ctrl-PageUp"
        "Ctrl-PageDown"
        "Ctrl+P"
        "Ctrl+T"
        "Alt+Up"
      ]
    firstBoot: false
    juliaOptions:
      numberOfThreads: "1"
    uiOptions:
      enableMenu: true
      errorNotifications: false
  "language-weave":
    showPreview: false
  latextools:
    builderSettings: {}
  "markdown-preview-enhanced":
    openPreviewPaneAutomatically: false
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      "split-diff": true
      "split-diffDecorationsZIndex": 0
  "python-isort": {}
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "source.rst"
      "text.restructuredtext"
      "text.tex.latex"
    ]
  "tool-bar":
    position: "Left"
    visible: false
  "tree-view":
    squashDirectoryNames: true
  "uber-juno":
    disable: true
  welcome:
    showOnStartup: false
  whitespace:
    removeTrailingWhitespace: false
  wordcount:
    extensions: [
      "md"
      "markdown"
      "readme"
      "txt"
      "rst"
      "adoc"
      "log"
      "msg"
      "tex"
    ]
    noextension: true
